<div class="section1-container">
    <h1>All users</h1>

<div class="table-container-section1">
    <table class="table w-100">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">hotel name</th>
      <th scope="col">Rate/night</th>
      <th scope="col">phone</th>
      <!-- <th scope="col">image</th> -->
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let eachhotel of allHotelArray;let i=index;" style="margin-bottom: 30px;">
      <th scope="row p-4">{{i+1}}</th>
      <td class="p-4">{{eachhotel.hotelname}}</td>
      <td class="p-4">{{eachhotel.hotelrate}}</td>
      <td class="p-4">{{eachhotel.contact}}</td>
     
      <td (click)="onEyeClick(eachhotel.id)" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;"><i class="fa-solid fa-trash"></i></td>
    </tr>
    
    
  </tbody>
</table>
</div>
</div>





<!-- Modal -->
<div class="modal fade modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete hotel</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="'http://localhost:3000/uploads/'+ hotelData.hotelpicture" alt="">
        <h1>{{hotelData.hotelname}}</h1>
        <h6>{{hotelData.hoteldescription}}</h6>
        <p>Rate:<span>₹{{hotelData.hotelrate}}</span></p>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal">Close</button>
        <button type="button" (click)="onDeleteHotel()"  data-bs-dismiss="modal">Delete Hotel</button>
      </div>
    </div>
  </div>
</div>