<div class="section1-container">
    <h1>All users</h1>

<div class="table-container-section1">
    <table class="table w-100">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">hotel name</th>
      <th scope="col">Rate/night</th>
      <th scope="col">phone</th>
      <th scope="col">image</th>
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center">
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>99</td>
      <td><img src="https://media.istockphoto.com/id/1388603346/vector/city-buildings-facades-illustration.jpg?s=612x612&w=0&k=20&c=mB1uEIdzAOO32MFRbJ4ciuioyj0mQOv21XPA-ygghYE=" alt=""></td>
      <td style="cursor: pointer;"><i class="fa-solid fa-eye"></i></td>
    </tr>
    
    
  </tbody>
</table>
</div>
</div>

