<div class="section1-container">
    <h1>All users</h1>

<div class="table-container-section1">
    <table class="table w-100">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">hotel name</th>
      <th scope="col">Rate/night</th>
      <th scope="col">phone</th>
      <!-- <th scope="col">image</th> -->
      <th scope="col">View</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let eachhotel of allHotelArray;let i=index;">
      <th scope="row">{{i+1}}</th>
      <td>{{eachhotel.hotelname}}</td>
      <td>{{eachhotel.hotelrate}}</td>
      <td>{{eachhotel.contact}}</td>
     
      <td style="cursor: pointer;"><i class="fa-solid fa-eye"></i></td>
    </tr>
    
    
  </tbody>
</table>
</div>
</div>

