.nav-bar{
    background-color: black;
}

.nav-a-tag{
    color: white;
    font-weight: lighter;
    border-bottom: 2px solid white;
    margin: 0px 10px;
    cursor: pointer;
}
.nav-a-tag:hover{
    color: orange;
    border-bottom: 2px solid orange ;
}

.adminpage-container{
    display: flex;
    gap: 10px;
    width: 100%;
}