<div class="box-container" *ngFor="let eachhotel of hotelArray">
    <div class="box-parent" >
         <div class="box-left">
        <img [routerLink]="'/hotel/view/'+eachhotel.id" [src]="'http://localhost:3000/uploads/' + eachhotel.hotelpicture"  alt="">
    </div>
    <div class="box-right">
        
        <h1 id="heading-box">{{eachhotel.hotelname}}</h1>
        <p>{{eachhotel.hoteldescription}}</p>
        <div class="price-details">
            <h6>Start From</h6>
            <h1>₹{{eachhotel.hotelrate}}</h1>
            <span>/NIGHT</span>
        </div>
        <div class="details-box">
            <h3>STATUS <span>Available</span></h3>
            <h3>PAYMENT <span>30% Advanced</span></h3>
            <h3>GUEST <span>{{eachhotel.hotelallotedguests}}</span></h3>
            <h3>BEDS <span>{{eachhotel.hotelbeds}}</span></h3>
        </div>
        <div class="box-right-button-div">
            <button [routerLink]="'/hotel/view/'+eachhotel.id">BOOK NOW</button>
            <button [routerLink]="'/hotel/view/'+eachhotel.id">MORE DETAILS</button>
        </div>
    </div>
    </div>
    <hr>
     
    
</div>