<div class="section1-container">
    <h1>Dashboard</h1>

    <div class="box-container-section1">
        <div class="section-1-box">
       <div>
         <h6>Users</h6>
        <h2>{{allCounts.totalusers}}</h2>
       </div>
       <i class="fa-solid fa-users"></i>
        </div>
   
        <div class="section-1-box">
       <div>
         <h6>Bookings</h6>
        <h2>{{allCounts.totalbookings}}</h2>
       </div>
       <i class="fa-solid fa-users"></i>
        </div>
 
   
        <div class="section-1-box">
       <div>
         <h6>Hotels</h6>
        <h2>{{allCounts.totalHotels}}</h2>
       </div>
       <i class="fa-solid fa-users"></i>
        </div>
 </div>

 <h1>Recent users</h1>

<div class="table-container-section1">
    <table class="table w-100">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">email</th>
      
      <th scope="col">image</th>
    </tr>
  </thead>
  <tbody>
    <tr class="text-center" *ngFor="let eachUser of allUsersArray;let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{eachUser.username}}</td>
      <td>{{eachUser.email}}</td>
      <td><i class="fa-solid fa-user"></i></td>
    </tr>
    
    
  </tbody>
</table>
</div>
</div>

