<nav class="navbar navbar-expand-lg nav-bar">
  <div class="container-fluid">
    <a class="navbar-brand text-light fs-2 fw-bold" routerLink="/" >Voyago</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-light">
        <li class="nav-item">
          <a class="nav-link nav-a-tag" aria-current="page" href="/" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Homepage</a>
        </li>
         <li class="nav-item">
          <a class="nav-link nav-a-tag" routerLink="/hotel" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Hotels</a>
        </li>
                  <li class="nav-item">
          <a class="nav-link nav-a-tag fw-lighter ms-2" routerLink="/hotel/mybookings">My bookings</a>
        </li>
            <li class="nav-item" *ngIf="!isLoggedIn;else elseBlock">
          <a class="nav-link nav-a-tag" (click)="sendData()" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Login</a>
        </li>
        <ng-template #elseBlock>
           <li class="nav-item">
          <a class="nav-link nav-a-tag"  (click)="onLogout()" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Logout</a>
        </li>
        </ng-template>
       
      </ul>
    </div>
  </div>
</nav>