.nav-bar{
    /* background-color: rgba(100, 104, 106, 0.674); */
}

.nav-a-tag{
    color: white;
    font-weight: lighter;
    border-bottom: 2px solid white;
    margin: 0px 10px;
    cursor: pointer;
}
.nav-a-tag:hover{
    color: orange;
    border-bottom: 2px solid orange ;
}