<div class="header-container">
    <div class="header-content">
        <h1>Start Your Journey to Your Dream Destination Here.</h1>
        <p>Start your journey to the destination you've always dreamed of. Discover stunning locations, plan with ease, and create memories that last a lifetime. Whether it's a relaxing escape or an exciting adventure, your perfect getaway begins right here.</p>
        <div>
            <button style="background-color: rgba(26, 19, 19, 0.5);"><i class="fa-solid fa-hotel" ></i>Hotels</button>
            <button><i class="fa-solid fa-car"></i>Car Rentals</button>
            <button><i class="fa-regular fa-sun"></i>Events</button>
        </div>
    </div>
</div>