<div class="login-container">
    <div class="login-row">
<div class="d-flex justify-content-between align-items-center">
    <div>
        <h6>Voyago</h6>
    <h1>We help you to find better hotels! <span style="color: orange;" *ngIf="toggleVal;else elseBlock">Login!</span>
    <ng-template #elseBlock>
        <span style="color: orange;" >Register!</span>
    </ng-template>
    </h1>
    </div>
    <div>
        <button class="rounded-5 fs-3" style="color: orange;background-color: transparent;border: none;" (click)="sendData()">x</button>
    </div>
</div>
    <form class="login-input-container" [formGroup]="registerForm">
         <div  *ngIf="!toggleVal">
            <label for="">Username</label>
            <input formControlName="username" type="text" placeholder="Enter your username">
        </div>
        <div>
            <label for="">Email</label>
            <input type="text" placeholder="Enter your email" formControlName="email">
            <p  class="text-danger" *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched
            ">Invalid Email</p>
        </div>
       

        <div>
            <label for="">Password</label>
            <input formControlName="password" type="password" placeholder="Enter your Password">
            <p  class="text-danger" *ngIf="registerForm.get('password')?.errors && registerForm.get('password')?.touched
            ">Password atleast contain 4 to 8 characters</p>
        </div>

        <button type="submit" (click)="onLoginClick($event,'login')">Login</button>
        <ng-template #elseBlock3>
    <button (click)="onLoginClick($event,'register')">Register</button>
        </ng-template>
        <p *ngIf="this.toggleVal">Forgot password?</p>
        <p (click)="this.toggleVal=false" *ngIf="toggleVal;else elseblock2">Don't have an account?</p>
        <ng-template #elseblock2>
              <p (click)="this.toggleVal=true">Already have an account?</p>
        </ng-template>

    </form>
    </div>
     
    
    
</div>